@import "tailwindcss";

:root {
  --background: #EBE8E1; 
  --foreground: #1C1C1C;
  
  --card-bg: #F5F4F0;
  --border-color: #1C1C1C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C1C1C;
    --foreground: #EBE8E1;
    --card-bg: #2A2A2A;
    --border-color: #EBE8E1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  border-radius: 0px !important;
}