@import "tailwindcss";

:root {
  --background: #ebe8e1;
  --foreground: #1c1c1c;

  --card-bg: #f5f4f0;
  --border-color: #1c1c1c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c1c;
    --foreground: #ebe8e1;
    --card-bg: #2a2a2a;
    --border-color: #ebe8e1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  border-radius: 0px !important;
}

@layer utilities {
  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }
  .animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}
